python-telegram-bot>=20.7
python-dotenv>=0.19.0
scikit-learn>=1.0
beautifulsoup4>=4.9.3
aiohttp>=3.8.1
SQLAlchemy>=1.4.0
pytest>=6.2.5
pytest-asyncio>=0.16.0
flake8>=4.0.1
black>=21.12b0
isort>=5.10.1
mypy>=0.910
pytz==2023.3
asyncio==3.4.3
flask
aiohttp
flask_login
pytest-aiohttp
